@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #000, #0E0E0E);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}


.card {
  background-image: url("https://i.pinimg.com/474x/59/ca/81/59ca81716ed8bbca7245475edd251a33.jpg");
  width: 380px;
  flex-direction: column;
  height: 500px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: #000;
  transition: all 1s;
  background: linear-gradient(45deg,  #1AC5F1, #01A2D8, #1E457C);
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #BF9EE5, #A769CC, #A62A8C);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1.2);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #2C2584, #2C2584, #7587DB);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #FFF;
  font-size: 45px;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  margin-top: 2rem;
}
a:hover{
  color: #000;
  font-size: 60px;
  transition: all 0.8s;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  margin-top: 2rem;
}
.card h4 {
  font-family: 'Bebas Neue', cursive;
  position: sticky;
  font-size: 30px;
}
.card h3 {
  position: relative;
  width: 300px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}